-----BEGIN CERTIFICATE-----
MIIEAzCCAuugAwIBAgIJALDOeS+sjbcpMA0GCSqGSIb3DQEBCwUAMIGXMQswCQYD
VQQGEwJJTjELMAkGA1UECAwCS0ExDDAKBgNVBAcMA0JBTjEUMBIGA1UECgwLY29t
cGFueW5ld3MxFTATBgNVBAsMDHRob3VnaHR3b3JrczEYMBYGA1UEAwwPY29tcGFu
eW5ld3MuY29tMSYwJAYJKoZIhvcNAQkBFhd0aG9tYXMubmljZTgzQGdtYWlsLmNv
bTAeFw0xOTA2MTIwMzE0NThaFw0yMDA2MTEwMzE0NThaMIGXMQswCQYDVQQGEwJJ
TjELMAkGA1UECAwCS0ExDDAKBgNVBAcMA0JBTjEUMBIGA1UECgwLY29tcGFueW5l
d3MxFTATBgNVBAsMDHRob3VnaHR3b3JrczEYMBYGA1UEAwwPY29tcGFueW5ld3Mu
Y29tMSYwJAYJKoZIhvcNAQkBFhd0aG9tYXMubmljZTgzQGdtYWlsLmNvbTCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALZe+7xtON50ZEmUWvXtv7p71nwS
DEl+lcR9jpxW/gnhcRYaiQXG9eWNGmtgsH6p1CxTN6O7Lb6lKy8d0xjsgzNlHBwY
ndiSCeuKl49yklKTGlfvo/1lgR+r6S1MNVsBvZ4Q6f6SdreCzwNbcTWw5j1+CcqL
TcjJeLhIucNLuANatdRXyzhBNNw7EG8kBoRRHjUBhSbxm7wALAPkXakQh5QCdwaL
Yp49NNUIhl37YToIUbO1E9XPZzZLs81bls/xA2vHW8uS5DgEm1YNlNJzNhNiZheN
05ANRfyVv3BzigSAY9M2PEJtgzzlllFmKawXlahbeKkHYtfaa4n9vuuBJT8CAwEA
AaNQME4wHQYDVR0OBBYEFEWAnQdPBG2zFeLHfu8mMN3Dy8MOMB8GA1UdIwQYMBaA
FEWAnQdPBG2zFeLHfu8mMN3Dy8MOMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEL
BQADggEBAAS6fvE+3cDluOWFJqb7hAYkK69R1/pmTmllUJZG4T+gZCB/TtG6/68A
1jJDmqiRVGUz2xNc9lhntob8zec85LuO+tV9u5xDumFfzpp40MShMPW4IW9uPRXW
PyfHMVVLFLDnXRFb7i1Py0jRVRcKzP/GszJcmR6mbysmNN0XhNxn4oyoLeujXk3m
bJvhkUjPDrmnpqcwgUlvFWduAw90fRtfmxnK4XPvpBFIqujd417dibFCbIMfjecF
nXaIthjac9HU0WFDJCosetxokCGR5CNSpbFjkTUTrBkcRePq5Kvhy8AorS3wWJ7r
/EADHSWSEaLDQf3LWT6SNX3ujJRz/lY=
-----END CERTIFICATE-----
